# VS Code
.vscode/

# IntelliJ IDEA project files
.idea/
/*.iml

# Ignored design files and similar
_ignored/

# macOS system files
.DS_Store

# .env files
.env
.env.*
!.env.example

# Node modules (monorepo-wide)
node_modules/

# SvelteKit build files
.svelte-kit/

# Tauri/Vite build files
build/

# Go build files
scripts/check/check

# Test results
playwright-report/
test-results/

# Rust build artifacts
target/
