
# VS Code
.vscode/

# IntelliJ IDEA project files
.idea/
/*.iml

# macOS system files
.DS_Store

# .env files
.env
.env.*
!.env.example

# Node modules
node_modules

# SvelteKit build files
.svelte-kit/

# Tauri build files
build/

# Test results
playwright-report/
test-results/
