[global]
workgroup = WORKGROUP
server string = __SERVER_STRING__
server role = standalone server
log file = /var/log/samba/log.%m
max log size = 50
dns proxy = no
map to guest = bad user
server signing = __SERVER_SIGNING__

[__SHARE_NAME__]
path = /share
browseable = yes
read only = __READ_ONLY__
guest ok = __GUEST_OK__
create mask = 0644
directory mask = 0755
