services:
    getcmdr-static:
        build:
            context: ../..
            dockerfile: apps/website/Dockerfile
        container_name: getcmdr-static
        restart: unless-stopped
        networks:
            - proxy-net

networks:
    proxy-net:
        external: true
