services:
    getcmdr-static:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: getcmdr-static
        restart: unless-stopped
        networks:
            - proxy-net

networks:
    proxy-net:
        external: true
